@import "tailwindcss";

@font-face {
  font-family: vazir;
  src: url(/fonts/Vazir-Medium.ttf) format(truetype);
}

@font-face {
  font-family: titr;
  src: url(/fonts/Titr.ttf) format(truetype);
}

/* sweetalert */
.swal-footer {
  text-align: center;
}

.swal-button,
.swal-button--confirm {
  background-color: #000 !important;
}

.swal-button:hover,
.swal-button--confirm:hover {
  background-color: #000 !important;
}

.rmdp-container {
  width: 100%;
}

.custom-input {
  width: 100%;
  background-color: var(--color-secondary);
  padding: 12px;
  border-radius: 12px;
  outline: none;
  color: #fff;
}

.custom-input::placeholder {
  color: #fff;
}
.custom-input-edit {
  width: 100%;
  background-color: var(--color-theme);
  padding: 12px;
  border-radius: 12px;
  outline: none;
  color: #52525b;
}

.custom-input-edit::placeholder {
  color: #52525b;
}
/* sweetalert */

@theme inline {
  --font-vazir: "vazir";

  --font-titr: "titr";
}

@layer theme {
  :root {
    /* --color-primary: #f1aac2; */
    /* --color-primary:#CD98C0; */
    /* --color-primary:#D4A6C8; */
    --color-primary: #e19ab3;

    /* --color-primary: #f4c1d8; */

    /* --color-secondary: #e0bbf4; */
    /* --color-secondary: #c2b7f3; */
    /* --color-secondary: #a78bfa; */
    /* --color-secondary: #9373f3; */
    /* --color-secondary: #9d51ef; */
    --color-secondary: #8c66e5;
    /* --color-secondary:#9334E9; */
    /* --color-secondary:#7f22fe; */

    /* --color-secondary: #C4B5FD; */

    --color-theme: #e4e2f1;
  }
}

@theme {
  --breakpoint-xs: 450px;
}

@layer base {
  body {
    font-family: var(--font-vazir);
    overflow-x: hidden;
  }

  * ::-webkit-scrollbar {
    scrollbar-color: var(--color-primary);
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 20px;
  }
}

@layer utilities {
  .font-vazir {
    font-family: var(--font-vazir);
  }

  .font-titr {
    font-family: var(--font-titr);
  }

  .svgBg {
    background-image: url("/images/cyrcle-svg-8.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .svg-bg-shape {
    background-image: url("/images/bg-svg-4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .svg-bg {
    background-image: url("/images/bg-svg-3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* .svg-bg-shape {
    background-color: #c4b5fd;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%238c66e5' fill-opacity='0.55' fill-rule='evenodd'/%3E%3C/svg%3E");
  } */

  .shape::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -12px;
    width: 20px;
    height: 20px;
    z-index: 100;
    border-radius: 100%;
    background-color: #000;
  }

 

  .bg-card-1 {
    background-image: linear-gradient(135deg, #dcdcdc 0%, #a78ddb 100%);
  }

  .bg-card-2 {
    background-image: linear-gradient(
      135deg,
      #f79fdd 0%,
      #ffdbe0 57%,
      #f27d90 100%
    );
  }

  .bg-card-3 {
    background-image: linear-gradient(
      135deg,
      #f79fdd 0%,
      #c2b7f3 57%,
      #e19ab3 100%
    );
  }

  .bg-card-4 {
    position: relative;
    background-color: #f8d2e2;
    overflow: hidden;
  }

  .bg-card-4::before {
    position: absolute;
    content: "";
    bottom: -10px;
    right: -20px;
    width: 80%;
    height: 50%;
    background-color: #f48bb7;
    border-radius: 100%;
    filter: blur(50px);
  }
  .bg-card-4::after {
    position: absolute;
    content: "";
    top: 30px;
    right: -40px;
    width: 50%;
    height: 40%;
    background-color: #ff1cca;
    border-radius: 80%;
    filter: blur(60px);
  }

  .bg-card-5 {
    background-color: #ff0080;
  }

  .bg-card-6 {
    background-color: var(--color-secondary);
  }

  .bg-card-7 {
    background-color: var(--color-primary);
  }

  .bg-card-8 {
    background-color: #ff1cca;
  }
}
