@import "tailwindcss";

@font-face {
  font-family: vazir;
  src: url(/fonts/Vazir-Medium.ttf) format(truetype);
}

@font-face {
  font-family: titr;
  src: url(/fonts/Titr.ttf) format(truetype);
}

/* sweetalert */
.swal-footer {
  text-align: center;
}

.swal-button,
.swal-button--confirm {
  background-color: #000 !important;
}

.swal-button:hover,
.swal-button--confirm:hover {
  background-color: #000 !important;
}

/* sweetalert */

@theme inline {
  --font-vazir: "vazir";

  --font-titr: "titr";
}

@layer base {
  body {
    font-family: var(--font-vazir);
  }
}

@layer utilities {
  .font-vazir {
    font-family: var(--font-vazir);
  }

  .font-titr {
    font-family: var(--font-titr);
  }
}
