@import "tailwindcss";

@font-face {
  font-family: vazir;
  src: url(/fonts/Vazir-Medium.ttf) format(truetype);
}

@font-face {
  font-family: titr;
  src: url(/fonts/Titr.ttf) format(truetype);
}

/* sweetalert */
.swal-footer {
  text-align: center;
}

.swal-button,
.swal-button--confirm {
  background-color: #000 !important;
}

.swal-button:hover,
.swal-button--confirm:hover {
  background-color: #000 !important;
}

.rmdp-container {
  width: 100%;
}

.custom-input {
  width: 100%;
  background-color: var(--color-secondary);
  padding: 12px;
  border-radius: 12px;
  outline: none;
  color: #fff;
}

.custom-input::placeholder {
  color: #fff;
}
.custom-input-edit {
  width: 100%;
  background-color: var(--color-theme);
  padding: 12px;
  border-radius: 12px;
  outline: none;
  color: #52525b;
}

.custom-input-edit::placeholder {
  color: #52525b;
}
/* sweetalert */

@theme inline {
  --font-vazir: "vazir";

  --font-titr: "titr";
}

@layer theme {
  :root {
    /* --color-primary: #f1aac2; */
    /* --color-primary:#CD98C0; */
    /* --color-primary:#D4A6C8; */
    --color-primary: #e19ab3;

    /* --color-primary: #f4c1d8; */

    /* --color-secondary: #e0bbf4; */
    /* --color-secondary: #c2b7f3; */
    /* --color-secondary: #a78bfa; */
    /* --color-secondary: #9373f3; */
    /* --color-secondary: #9d51ef; */
    --color-secondary: #8c66e5;
    /* --color-secondary:#7f22fe; */

    /* --color-secondary: #C4B5FD; */

    --color-theme: #e4e2f1;
  }
}

@theme {
  --breakpoint-xs: 450px;
}

@layer base {
  body {
    font-family: var(--font-vazir);
    overflow-x: hidden;
  }

  * ::-webkit-scrollbar {
    scrollbar-color: var(--color-primary);
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 20px;
  }
}

@layer utilities {
  .font-vazir {
    font-family: var(--font-vazir);
  }

  .font-titr {
    font-family: var(--font-titr);
  }

  .svgBg {
    background-image: url("/images/cyrcle-svg-8.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .shape::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -12px;
    width: 20px;
    height: 20px;
    z-index: 100;
    border-radius: 100%;
    background-color: #000;
  }

  .bg-card-1 {
    background-image: linear-gradient(135deg, #dcdcdc 0%, #a78ddb 100%);
  }

  .bg-card-2 {
    background-image: linear-gradient(
      135deg,
      #f79fdd 0%,
      #ffdbe0 57%,
      #f27d90 100%
    );
  }

  .bg-card-3 {
    background-image: linear-gradient(
      135deg,
      #f79fdd 0%,
      #c2b7f3 57%,
      #e19ab3 100%
    );
  }

  .bg-card-4 {
    position: relative;
    background-color: #f8d2e2;
    overflow: hidden;
  }

  .bg-card-4::before {
    position: absolute;
    content: "";
    bottom: -10px;
    right: -20px;
    width: 80%;
    height: 50%;
    background-color: #f48bb7;
    border-radius: 100%;
    filter: blur(50px);
  }
  .bg-card-4::after {
    position: absolute;
    content: "";
    top: 30px;
    right: -40px;
    width: 50%;
    height: 40%;
    background-color: #ff1cca;
    border-radius: 80%;
    filter: blur(60px);
  }

  .bg-card-5 {
    background-color: #ff0080;
  }

  .bg-card-6 {
    background-color: var(--color-secondary);
  }

  .bg-card-7 {
    background-color: var(--color-primary);
  }

  .bg-card-8 {
    background-color: #ff1cca;
  }
}
